dw.graphite.prefix=<%= hostname_reverse %>.filterservice
dw.graphite.graphiteHost=graphite.snappli.net
dw.graphite.enabled=false
<% if @role.include? 'proxy' -%>
dw.http.port=6999
dw.http.adminPort=6998
<% else -%>
dw.http.port=3999
dw.http.adminPort=3998
<% end -%>
dw.http.requestLog.console.enabled=false
dw.http.requestLog.file.enabled=true
dw.http.requestLog.file.currentLogFilename=./logs/filter-service-access.log
dw.http.requestLog.file.archivedLogFilenamePattern=./logs/filter-service-access.%d.log.gz
dw.http.requestLog.file.archivedFileCount=7
dw.logging.level=INFO
# accepted value MONGO or BERKELEY
dw.dbEngineType=BERKELEY
dw.berkeleySettings.dbPath=etc/berkeleyDb
dw.berkeleySettings.deltaUpdatableDbPath=etc/deltaBerkeleyDb
# zip compression per record
dw.berkeleySettings.withCompression=true
# minimum value is 1000
dw.berkeleySettings.maxPreloadTimeMs=5000
# minimum value is 10
dw.berkeleySettings.logFileSizeMb=10
# built in BDB compressor thread, which re-organizes log files internally
dw.berkeleySettings.withCompressorThreadOn=true
dw.berkeleySettings.withDeferredWriting=true
dw.mongoSettings.connectionStrings.DOMAIN=mongodb://1:1@127.0.0.1:21000/securityDomains?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.IP=mongodb://1:1@127.0.0.1:21000/securityIPs?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.URI=mongodb://1:1@127.0.0.1:21000/securityURIs?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.DATA_LEAK_RULE=mongodb://1:1@127.0.0.1:21000/dataLeakRule?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.APP_KEY_EXTRACTION_RULE=mongodb://1:1@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.APP_UA_METADATA_LINK=mongodb://1:1k@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueue
dw.mongoSettings.connectionStrings.APP_METADATA=mongodb://1:1@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.OS_RISK_INDEX=mongodb://1:1@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.CVE_DATA=mongodb://1:1@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.SID=mongodb://1:1@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.DB_STATE=mongodb://1:1k@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.UPDATE_AUDIT_LOG=mongodb://1:1k@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.EFFECTIVE_APP_METADATA=mongodb://1:1k@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.CONTENT_CLASSIFICATION=mongodb://1:1@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.connectionStrings.FULL_APP_METADATA=mongodb://1:1k@127.0.0.1:21000/securityOtherCollections?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.backupConnectionStrings.DOMAIN=mongodb://1:1k@127.0.0.1:21000/securityDomainsBackup?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.backupConnectionStrings.IP=mongodb://1:1k@127.0.0.1:21000/securityIPsBackup?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.backupConnectionStrings.URI=mongodb://1:1k@127.0.0.1:21000/securityURIsBackup?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.backupConnectionStrings.SID=mongodb://1:1k@127.0.0.1:21000/securityOtherCollectionsBackup?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.backupConnectionStrings.EFFECTIVE_APP_METADATA=mongodb://1:1k@127.0.0.1:21000/securityOtherCollectionsBackup?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
dw.mongoSettings.backupConnectionStrings.FULL_APP_METADATA=mongodb://1:1k@127.0.0.1:21000/securityOtherCollectionsBackup?autoConnectRetry=true&maxpoolsize=100&waitqueuemultiple=10
# Redshift configuration
# the username
dw.database.user=logging_user
# the password
dw.database.password=5tAg1ngLog55
# the JDBC URL
dw.database.url=jdbc:postgresql://wandera-dev-testing-eu.ckhvkdjbgwco.eu-west-1.redshift.amazonaws.com:5439/logging_data
# the maximum amount of time to wait on an empty pool before throwing an exception
dw.database.maxWaitForConnection=1s
# the minimum number of connections to keep open
dw.database.minSize=1
# the maximum number of connections to keep open
dw.database.maxSize=10
# whether or not idle connections should be validated
dw.database.checkConnectionWhileIdle=false
# how long a connection must be held before it can be validated
dw.database.checkConnectionHealthWhenIdleFor=10s
# the maximum lifetime of an idle connection
dw.database.closeConnectionIfIdleFor=1 minute
dw.includeCookiesInDataLeakScanning=false
dw.s3Settings.bucket=stgn.filterservicedb.wandera.net
dw.s3Settings.accessKeyId=AKIAITXP2P3ZVXC7MHKA
dw.s3Settings.accessKey=PdbhqQ2Yyiii6KloIkgSANq/ZeqIqjWSUiQj/5QE
dw.s3Settings.deltaPrefix=delta
dw.s3Settings.temporaryDeltaPrefix=tempDelta
dw.slaveMonitorInputsDelay=5m
dw.deltasUpdateProcessEnabled=false
dw.deltasBdbValidationSlave=false
dw.deltasSlaveAutoStart.SECURITY_DEFINITION=true
dw.deltasSlaveAutoStart.SOURCE_IP=false
# timeout after 5s while connecting, reading, or writing
dw.httpClient.timeout=5s
dw.statusUpdateLogTableName=status_update_log
dw.downloadsFolder=/opt/sourceDownloads
dw.maxDownloadRetries=10
dw.maxStoredSources=5
dw.deltasFolder=/opt/sourceDeltas
dw.deltasValidationErrorsFolder=/opt/deltasValidationErrors
dw.deltasWanderaSourceFile=etc/security/Wandera/wandera_resources.txt
dw.phishtankUrl=http://data.phishtank.com/data/f891638b61fed615ce55b68b69b3a1c6d1d0e721107a02815d982b83458d6f7c/online-valid.csv
dw.sophosUrl=rsync://connect.labs.sophos.com/wandera/
dw.deltaDelays.SOURCE_IP=1h
dw.deltaDelays.SECURITY_DEFINITION=1h
# TODO
dw.appDbManagerServiceConfiguration.location=/tmp/appdb
# is cleaner turned on
dw.berkeleySettings.cleanerRun=true
# how many cleaner threads is used
dw.berkeleySettings.cleanerThreads=10
# threshold of files utilization when cleaner kicks off
dw.berkeleySettings.cleanerMinUtilization=90

# This ensures that delta machine is stopped when DB size exceeds this threshold
dw.deltaDbMaxSpaceUsageMb=15000

# Mobile Network client
dw.mobileNetworkClientConfiguration.apnServiceLocation=http://ea.wandera.biz/mobile/v1/%s
dw.mobileNetworkClientConfiguration.apiKey=c13cc817-3ceb-48d7-bd00-f5f70eb12be7
dw.mobileNetworkClientConfiguration.secretKey=9Dv9nTz69Xs1yhZsC92i6I/GYkkljrRaNqhLPj9H/wnle0OzY58JEv/mePKJCpQ6ZyawM8SGiJCqREBypo7/uA==
# read timeout in ms
dw.mobileNetworkClientConfiguration.readTimeout=10000
# connect timeout in ms
dw.mobileNetworkClientConfiguration.connectTimeout=5000
dw.mobileNetworkClientConfiguration.allowInsecureSsl=true
dw.mobileNetworkClientConfiguration.cacheTTL=10s
dw.mobileNetworkClientConfiguration.cacheSize=1000
dw.deltaDelays.EFFECTIVE_APP_DB=1h
dw.deltaDelays.FULL_APP_DB=1h
dw.runOnce.EFFECTIVE_APP_DB=true
dw.runOnce.FULL_APP_DB=true

dw.useAppDbManagerData=false

# Set to true if keys for app_ua_metadata_link table should be hashed
dw.useSha256IdForAppUserAgents=true